<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/adicionar/adicionado" method="post">
        <input type="text" name="nomeTitular"><br>
        <input type="text" name="numeroConta"><br>
        <input type="text" name="saldo"><br>
        <input type="text" name="chequeEspecial"><br>
        <input type="button" value="Adicionar!">
    </form>
</body>
</html>