{% extends "comum/static.html" %}
{% block titulo %}Adicionar conta!{% endblock %}
{% block conteudo %}
    <div class="container overflow-hidden">
        <div class="row gx-5 mt-4 mx-0">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="../static/images/adicionar.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Adicionar conta!</h5>
                        <p class="card-text">Aqui você pode adicionar uma nova conta!

                        </p>
                        <a href="/cadastro" class="btn btn-primary stretched-link">Adicionar conta!</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card me-n4" style="width: 18rem;">
                    <img src="../static/images/lista.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Listar contas!</h5>
                        <p class="card-text">Aqui você ver todas as contas já adicionadas!</p>
                        <a href="/listarcontas" class="btn btn-primary stretched-link">Listar contas!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}