{% extends "comum/static.html" %}
{% block titulo %}Adicionar conta!{% endblock %}
{% block conteudo %}
    <div class="border border-3 rounded-2 border-dark">
        <table class="table table-dark table-striped ">
            <thead>
                <h3>Todas as contas do banco!</h3>
                <tr>
                    <th scope="col">Nome do titular</th>
                    <th scope="col">Número da conta</th>
                    <th scope="col">Saldo</th>
                    <th scope="col">Cheque especial</th>
                    <th scope="col">Saldo total</th>
                    <th scope="col">Controle das contas!</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for conta in lista_conta %}
                <tr>
                    <th scope="row">{{conta.nomeTitular}}</th>
                    <td>{{conta.numeroConta}}</td>
                    <td>R$ {{conta.saldo}}</td>
                    <td>R$ {{conta.chequeEspecial}}</td>
                    <td>R$ {{conta.saldoTotal}}</td>
                    <td>
                        <a class="btn btn-secondary  ms-2 rounded-2" href="/editar?index={{loop.index-1}}">Editar</a>
                        <a class="btn btn-secondary  ms-2 rounded-2" href="/contas/excluir?index={{loop.index-1}}">Excluir</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            
        </table>
        <a class="btn btn-secondary ms-3 rounded-2 mb-3" href="/">Voltar!</a>
    </div>
    
    

    
{% endblock %}